<div class="container my-5">
	<div class="row">
		<div class="offset-sm-1">
			<h2 class="red-border px-3 bg-light">マイページ</h2>
		</div>
	</div>
	</div>

<div class= "container">
	<div class="row">
		<div class="col-md-2">
			<strong>登録情報</strong></div>
		 <div class="col-md-9">
		    <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success  my-2" %>
		</div>
	</div>

<div class= "container">
	<div class="row mr-9">
	    <table class="col-lg-9 table border border-dark">
	      <tr class="col-lg-3 border border border-dark">
		    	<td class="col-lg-2 border border-dark bg-light">氏名</td>
		    	<td class=" border border-dark">
		    		<%= @customer.last_name %>
		    		<%= @customer.first_name %>
		    	</td>
	      </tr>



	      <tr class="border border-dark ">
		    	<td class="border border-dark bg-light">カナ</td>
		    	<td class="border border-dark">
		    		<%= @customer.last_name_kana %>
		    		<%= @customer.first_name_kana %>
	    		</td>
	      </tr>


	      <tr class="border border-dark">
		    	<td class="border border-dark bg-light">郵便番号</td>
		    	<td class="border border-dark"><%= @customer.postal_code %></td>
	      </tr>

	      <tr class="border border-dark">
		    	<td class="border border-dark bg-light">住所</td>
		    	<td class="border border-dark"><%= @customer.address %></td>
	      </tr>

	      <tr class="border border-dark">
		    	<td class="border border-dark bg-light">電話番号</td>
		    	<td class="border border-dark"><%= @customer.telephone_number %></td>
	      </tr>

	      <tr class="border border-dark">
	    		<td class="border border-dark bg-light">メールアドレス</td>
	        <td class="border border-dark"><%= @customer.email %></td>
	      </tr>
	    </table>


	 </div>

		<div class="table">
			<div class="row">
		 	<strong class="col-lg-2">配送先</strong>
		 	<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary col-ml-1" %>
		 	</div>
	</div>

		<div class="table">
		 	<div class="row ">
			<strong class="col-lg-2">注文履歴</strong>	<%= link_to "一覧を見る", orders_path, class: "btn btn-primary col-ml-5" %>
			</div>
	</div>

